@use '../../../styles.scss' as styles;

.page-container {
    background-color: styles.$bg-color;
    max-width: 100%;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: styles.$text-color;


    margin: 0;
    height: 150px;
    background-color: styles.$primary-color;

    p {
        color: styles.$text-color;
    }
}

.content {
    max-width: 1280px;
    margin: 10px auto;
    padding: 0 1.5rem;

    display: flex;
    flex-flow: row wrap;
    gap: 1rem;

    app-product-card {
        flex: 0 1 calc(25% - 1rem);

        @media (max-width: 1024px) {
            flex: 0 1 calc(50% - 1rem);
        }

        @media (max-width: 600px) {
            flex: 0 1 calc(100% - 1rem);
        }
    }
}