@use '../../../styles.scss' as styles;
@use '@angular/material' as mat;

.page-container {
    background-color: styles.$bg-color;
    max-width: 100%;
}

h1 {
    text-align: center;
}

.container {

    max-width: 1280px;
    margin: 10px auto;
    padding: 0 1.5rem;
    color: styles.$text-on-bg-color;

    display: flex;
    flex-flow: row wrap;
    gap: 1rem;

    mat-card {
        flex: 0 1 calc(33.333% - 1rem);

        transition: transform 0.2s ease, box-shadow 0.2s ease;
        background-color: styles.$card-surface-color;

        &:hover {
            transform: scale(1.005);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 2;
        }

        .price {
            font-weight: bold;
            font-size: large;
        }

        button {
            width: 100%;
            margin: 20px;
            border-radius: 10px;
            background-color: styles.$secondary-color !important;
        }

        @media (max-width: 1024px) {
            flex: 0 1 calc(50% - 1rem);
        }

        @media (max-width: 600px) {
            flex: 0 1 calc(100% - 1rem);
        }

    }
}