@use '../../../styles.scss' as styles;

.page-container {
    background-color: styles.$bg-color;
    max-width: 100%;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: styles.$text-color;


    margin: 0;
    height: 150px;
    background-color: styles.$primary-color;

    p {
        color: styles.$body-text-color;
    }
}



.content {
    max-width: 1280px;
    margin: 10px auto;
    padding: 0 1.5rem;

    display: flex;
    flex-flow: row wrap;
    gap: 1rem;

    mat-card {
        flex: 0 1 calc(25% - 1rem);

        transition: transform 0.2s ease, box-shadow 0.2s ease;
        background-color: styles.$card-surface-color;

        &:hover {
            transform: scale(1.005);
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        }

        mat-card-content {
            color: styles.$body-text-color;
        }

        .price {
            font-weight: bold;
            font-size: large;
            color: black;
        }

        button {
            width: 100%;
            margin: 20px;
            border-radius: 10px;
            background-color: styles.$primary-color !important;

            &:hover{
                background-color: styles.$hover-bg-color !important;
            }
        }

        @media (max-width: 1024px) {
            flex: 0 1 calc(50% - 1rem);
        }

        @media (max-width: 600px) {
            flex: 0 1 calc(100% - 1rem);
        }

    }
}