@use '../../../styles.scss' as styles;

.page-container {
    background-color: styles.$bg-color;
    max-width: 100%;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: styles.$text-color;


    margin: 0;
    height: 150px;
    background-color: styles.$primary-color;

    p {
        color: styles.$text-color;
    }
}

.content {
    max-width: 1280px;
    margin: 10px auto;
    //padding: 0 1.5rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    justify-items: stretch;

    @media (max-width: 1300px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 700px) {
        grid-template-columns: 1fr;
    }

}

button {
    grid-column: 1 / -1;
    justify-self: center;
    margin-top: 16px;
    border-radius: 10px;
    background-color: styles.$primary-color !important;
}