@use '../../../styles.scss' as styles;

mat-card {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background-color: styles.$card-surface-color;    

    &:hover {
        transform: scale(1.005);
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    }

    mat-card-content {
        color: styles.$body-text-color;
    }

    .price {
        font-weight: bold;
        font-size: large;
        color: black;
    }

    button {
        width: 100%;
        margin: 20px;
        border-radius: 10px;
        background-color: styles.$primary-color !important;

        &:hover {
            background-color: styles.$hover-bg-color !important;
        }
    }

}