
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

$bg-color: #F9FAFB;
$primary-color: #F59E0B;
$hover-bg-color: #D97706;
$link-hover-color: #B45309;
$light-hilight-color: #FEF3C7;
$card-surface-color: #FFFBEB;
$border-color: #E5E7EB;
$text-color: #F3F4F6;
$secondary-text-color: #4B5563;
$body-text-color: #374151;
$label-color:  #9CA3AF;
$footer-bg-color: #111827;
$error-color: #DC2626;
$succes-color: #15803D;
$warning-color: #FFB020;

html {
  @include mat.theme((
    color: (
      primary: mat.$yellow-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light;
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  background-color: $bg-color;
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.page-container{
  background-color: $bg-color;
}

// Snackbar
.cdk-overlay-container {
  margin-top: 70px !important;
  border-radius: 5px !important;
}

.snackbar-success {
  background-color: $succes-color !important;

  .mdc-snackbar__surface {
    background-color: $succes-color !important;
  }

  .mat-mdc-snack-bar-label,
  .mat-simple-snackbar-content {
    color: white !important;
  }

  .mdc-button,
  .mat-mdc-button {
    color: white !important;
  }
}

.snackbar-error {
  background-color: $error-color !important;

  .mdc-snackbar__surface {
    background-color: $error-color !important;
  }

  .mat-mdc-snack-bar-label,
  .mat-simple-snackbar-content {
    color: white !important;
  }

  .mdc-button,
  .mat-mdc-button {
    color: white !important;
  }
}

.snackbar-info {
  background-color: #2196f3 !important;

  .mdc-snackbar__surface {
    background-color: #2196f3 !important;
  }

  .mat-mdc-snack-bar-label,
  .mat-simple-snackbar-content {
    color: white !important;
  }

  .mdc-button,
  .mat-mdc-button {
    color: white !important;
  }
}

.snackbar-warning {
  background-color: $warning-color !important;

  .mdc-snackbar__surface {
    background-color: $warning-color !important;
  }

  .mat-mdc-snack-bar-label,
  .mat-simple-snackbar-content {
    color: white !important;
  }

  .mdc-button,
  .mat-mdc-button {
    color: white !important;
  }
}